body{
  Font-family: Consolas, monaco, monospace;
  background-color: #001C30;
  color: #176B87;
}
.title{
  color: #64CCC5;
}
.green{
  color: green;
}
.red{
  color: red;
}
.btn {
  width: 120px;
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  -webkit-box-shadow: 2px 4px 19px #64ccc5;
  -moz-box-shadow: 2px 4px 19px #64ccc5;
  box-shadow: 2px 4px 9px #64ccc5;
  font-family: Courier New;
  color: #fff;
  font-size: 20px;
  background: #64CCC5;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #176B87;
  text-decoration: none;
}
input{
  width: 120px;
  padding: 10px ;
  background-color: #DAFFFB;
}
#x{
  background-color: #001C30;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#x::after{
  content: "\00d7"; 
  color: #fff;
  font-weight: 300;
  font-family: Arial, sans-serif;

<<<<<<< HEAD
}
=======
}
>>>>>>> c04c87574eeb21742e42498af70802d12d75e52a
